/* HORIZONTAL BAR */

/* The .bar element is a horizontal stripe that can contain any other item.
/* Use it for vertical alignment and horizontal distribution, such as navigation bars or inline forms.

/* Prefixes and objects:
  .bar-
  .bar-group-
*/

.bar {
  display: flex;
  text-align: left;

  & .bar-link {
    @media (--ignt-mq-min-break-small) {
      display: flex;
    }
  }
  & .bar-group {
    display: flex;
    & > * {
      display: flex;
      align-items: center;
    }
    @media (--ignt-mq-max-break-small) {
      flex-direction: column;
      & > * + * {margin-top: 10px;}
    }
    @media (--ignt-mq-min-break-small) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      & > * {margin-bottom: 0 !important; margin-top: 0 !important;};
      & > * + * {margin-left: 10px;}
    }
  }
  @media (--ignt-mq-min-break-small) {
    & .bar-group--left {
      justify-content: flex-start;
    }
    & .bar-group--center {
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
    }
    & .bar-group--right {
      justify-content: flex-end;
      &:first-child { margin-left: auto;}
    }
  }
  @media (--ignt-mq-max-break-small) {
    flex-direction: column;
    & > * + * {margin-top: 10px;}
  }

  @media (--ignt-mq-min-break-small) {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    text-align: center;
    justify-content: space-between;
    & > * + * {margin-left: 10px;}
    & .bar-item {align-self: center;}
    & .bar-item--left {margin-right: auto !important;}
    & .bar-item--right {margin-left: auto !important;}
    & .bar-item--center {
        margin-left: auto !important;
        margin-right: auto !important;
    }
  }
}
