@charset "UTF-8";
/* BASIC INPUT */

// Height and width of all inputs and buttons.
// This helps to align basic form elements.

.basicInput(@padding:@formConf[inputPadding], @margin:@formConf[inputMargin], @borderRadius:@inputBorderRadius, @borderWidth:@inputBorderWidth, @borderColor:@inputBorderColor, @fontWeight: @fontWeightLight) {
  display: inline-flex;
  position: relative;
  .border-radius(@borderRadius);
  .border(@borderWidth, solid, @borderColor);
  padding: @padding @padding*3.75;
  margin-top: @margin;
  margin-bottom: @margin;
  vertical-align: middle;
  font-size: 1em;
  line-height: 1.4;
  font-weight: @fontWeightLight;
  .mq-print({
    border-width: 0;
  });
}
