/* DARK THEME */
.sl-theme-viur-dark {
  --ignt-theme-name: "viur-dark";
  --ignt-color-scheme: dark;

  --ignt-mix-color-down: hsla(0 0% 0% / 100%); /* black */
  --ignt-mix-color-up: hsla(0 0% 100% / 100%); /* white */

  --ignt-color-neutral-1000: hsla(0 0% 100% / 100%); /* white */
  --ignt-color-neutral-0: hsl(240 5.9% 11% / 100%); /* dark gray */
}

