@charset "UTF-8";
/* BUTTONS */

// Prefixes and objects:
// .btn-
// .btn-group

.btn(
  @btnBackgroundColor:#e7e5e5,
  @btnPadding: @defaultPadding,
  @btnMargin: @defaultMargin,
  @btnBorderWidth: @defaultBorderWidth,
  @btnBorderRadius: @defaultBorderRadius,
  @btnShadow: @defaultShadow,
  @btnShadowHover: @defaultShadow+1,
  @btnShadowColor: @defaultShadowColor) when (@button=true) {
  .basicInput(@btnPadding, @btnMargin, @btnBorderRadius, @btnBorderWidth, darken(@btnBackgroundColor, 10%));
  font-weight: 400;
  color: contrast(@btnBackgroundColor, #222222, #f4f4f4);
  background-color: @btnBackgroundColor;
  .boxShadow(@btnShadow, @btnShadowColor);
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  transition: all .3s ease;
  &:link,
  &:visited { color: contrast(@btnBackgroundColor, #222222, #f4f4f4); }
  &:hover {
    color: contrast(lighten(@btnBackgroundColor, 5%));
    background-color: lighten(@btnBackgroundColor, 5%);
    .boxShadow(@btnShadowHover, @btnShadowColor);
  }
  &:active,
  &.is-active {
    color: contrast(lighten(@btnBackgroundColor, 10%));
    background-color: lighten(@btnBackgroundColor, 10%);
  }
  &.is-disabled,
  &:disabled,
  &[aria-disabled=true] {
    &:hover,
    & {
      color: darken(desaturate(@btnBackgroundColor, 20%), 10%);
      cursor: not-allowed;
      border-style: dashed;
      background-color: lighten(desaturate(@btnBackgroundColor, 20%), 30%);
      .boxShadow(0);
    }
  }
  &.is-busy,
  &.is-loading,
  &[aria-busy=true] {
    cursor: progress;
    &:hover {
      .boxShadow(@btnShadow, @btnShadowColor);
    }
  }
  & > .icon {
    align-self: center;
    &:first-child {
      margin-left: -.1em;
      margin-right: .25em;
    }
  }
  &--small {
    font-size: .8em;
    & > .icon:first-child { margin-right: .15em; }
  }
  &--large {
    font-size: 1.2em;
  }
  &--block {
    margin: @btnMargin 0;
    width: 100%;
    text-align: center;
  }
}

.colorizeBtn(
  @btnBackgroundColor,
  @btnBorderWidth: @defaultBorderWidth,
  @btnShadow: 1,
  @btnShadowHover: 2) when (@button=true) {
  color: contrast(darken(@btnBackgroundColor, 15%), #222222, #f4f4f4);
  background-color: @btnBackgroundColor;
  border: @btnBorderWidth solid darken(@btnBackgroundColor, 10%);
  .boxShadow(@btnShadow, @btnBackgroundColor);
  &:link,
  &:visited { color: contrast(darken(@btnBackgroundColor, 15%), #222222, #f4f4f4); }
  &:hover {
    color: contrast(darken(@btnBackgroundColor, 15%));
    background-color: lighten(@btnBackgroundColor, 5%);
    border: @btnBorderWidth solid darken(@btnBackgroundColor, 5%);
    .boxShadow(@btnShadowHover, @btnBackgroundColor);
  }
  &:active,
  &.is-active {
    color: contrast(darken(@btnBackgroundColor, 20%));
    background-color: lighten(@btnBackgroundColor, 10%);
    border: @btnBorderWidth solid lighten(@btnBackgroundColor, 5%);
  }
  &.is-disabled,
  &:disabled,
  &[aria-disabled=true] {
    &:hover,
    & {
      color: lighten(desaturate(@btnBackgroundColor, 20%), 10%);
      .boxShadow(0);
      border-style: dashed;
      background-color: lighten(desaturate(@btnBackgroundColor, 20%), 30%);
    }
  }
  .input-group & {
    .zIndex('content', 1); // border colors are important here.
  }
}

.invertColorizedBtn(
  @btnBackgroundColor,
  @btnBorderWidth: @defaultBorderWidth,
  @btnShadow: 1,
  @btnShadowHover: 2) when (@button=true) {
  color: darken(@btnBackgroundColor, 5%);
  border: @btnBorderWidth solid darken(@btnBackgroundColor, 10%);
  .boxShadow(@btnShadow, @btnBackgroundColor);
  &:link,
  &:visited { color: darken(@btnBackgroundColor, 5%); }
  &:hover {
    color: contrast(darken(@btnBackgroundColor, 15%));
    background-color: lighten(@btnBackgroundColor, 5%);
    border: @btnBorderWidth solid darken(@btnBackgroundColor, 5%);
    .boxShadow(@btnShadowHover, @btnBackgroundColor);
  }
  &:active,
  &.is-active {
    color: contrast(darken(@btnBackgroundColor, 20%));
    background-color: lighten(@btnBackgroundColor, 10%);
    border: @btnBorderWidth solid lighten(@btnBackgroundColor, 5%);
  }
  &.is-disabled,
  &:disabled,
  &[aria-disabled=true] {
    &:hover,
    & {
      color: lighten(desaturate(@btnBackgroundColor, 20%), 30%);
      background-color: lighten(desaturate(@btnBackgroundColor, 20%), 15%);
      border: @btnBorderWidth dashed lighten(desaturate(@btnBackgroundColor, 20%), 30%);
      .boxShadow(0);
    }
  }
  .input-group & {
    .zIndex('content', 1); // border colors are important here.
  }
}

