@charset "UTF-8";
/* TABLES */

// Prefixes and objects:
// .table-
// .table-head-
// .table-body-
// .table-foot-

.table(@tableHeadBackgroundColor:@mainColor, @tableRowBackgroundColor:#fefefe, @tableSelectionColor: @successColor, @tableBorderWidth: @defaultBorderWidth) when (@table=true) {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 1.5em;
  padding: 0;

  & &-body,
  & &-body-row,
  & &-body-cell,
  & &-head-row,
  & &-head-cell,
  & &-foot,
  & &-foot-row,
  & &-foot-cell {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
  }

  & &-head-cell,
  & &-body-cell,
  & &-foot-cell {
    padding: .5em;
    vertical-align: middle;
    text-align: right;
  }

  & &-head { // hide workaround
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }

  & &-head-cell {
    background-color: @tableHeadBackgroundColor;
    .border(@tableBorderWidth, solid, darken(@tableHeadBackgroundColor, 15%));
    font-weight: @fontWeightNormal;
    text-align: center;
    color: contrast(darken(@tableHeadBackgroundColor,15%));
  }

  & &-body-row,
  & &-foot-row {
    .border(@tableBorderWidth, solid, darken(@tableHeadBackgroundColor, 15%));
    &.is-active {
      background-color: darken(@tableSelectionColor, 2%);
      & &-body-cell, & &-foot-cell { color: contrast(@tableSelectionColor); }
    }
  }

  & &-body-row {
    margin-bottom: 1em;
    &:last-of-type { margin-bottom: 0; }
  }

  & &-foot {
    border-top: @tableBorderWidth solid darken(@tableRowBackgroundColor, 40%);
    margin-top: 1em;
  }

  & &-foot-row {
    margin-top: 1em;
  }

  & &-body-cell[scope="row"],
  & &-foot-cell[scope="row"] {
    background-color: @successColor;
    color: contrast(@successColor);
  }

  & &-body-cell[data-title]:before,
  & &-foot-cell[data-title]:before {
    content: attr(data-title);
    float: left;
    font-size: .8em;
    color: fadeout(@textColor, 25%);
  }

  .mq-min(@breakSmall, {
    & &-head-cell,
    & &-body-cell,
    & &-foot-cell {
      padding: .75em .5em;
    }
    & &-body-cell,
    & &-foot-cell {
      border-bottom: @tableBorderWidth solid darken(@tableRowBackgroundColor, 15%);
    }
  });
  .mq-min(@breakMedium, {
    & &-head { // show workaround
      position: relative;
      clip: auto;
      height: auto;
      width: auto;
      overflow: auto;
    }
    & &-body,
    & &-foot {
      display: table-row-group;
    }
    & &-head-row,
    & &-body-row,
    & &-foot-row {
      display: table-row;
    }
    & &-body-row,
    & &-foot-row {
      border-width: 1px;
      &:nth-of-type(even) { background-color: darken(@tableRowBackgroundColor, 2%); }
      &:nth-of-type(odd) { background-color: darken(@tableRowBackgroundColor, 4%); }
      &:nth-of-type(even):hover { background-color: lighten(@tableRowBackgroundColor, 6%); }
      &:nth-of-type(odd):hover { background-color: lighten(@tableRowBackgroundColor, 6%); }
      &:nth-of-type(even).is-active { background-color: darken(@tableSelectionColor, 2%); }
      &:nth-of-type(odd).is-active { background-color: darken(@tableSelectionColor, 4%); }
      &:nth-of-type(even).is-active:hover { background-color: lighten(@tableSelectionColor, 6%); }
      &:nth-of-type(odd).is-active:hover { background-color: lighten(@tableSelectionColor, 6%); }
    }
    & &-head-cell,
    & &-body-cell,
    & &-foot-cell {
      display: table-cell;
      padding: .5em;
      color: contrast(@tableRowBackgroundColor);
    }
    & &-body-cell,
    & &-foot-cell {
      text-align: center;
      &[data-title]:before { content: none; }
      &[scope="row"] {
        background-color: transparent;
        color: contrast(@tableRowBackgroundColor);
        text-align: center;
      }
    }
  });
  .mq-min(@breakLarge, {
    & &-head-cell,
    & &-body-cell,
    & &-foot-cell {
      padding: .75em .5em;
    }
  });
  .mq-min(@breakXlarge, {
    & {
      font-size: .8rem; // 80% of body text.
    }
    & &-head-cell,
    & &-body-cell,
    & &-foot-cell {
      padding: .75em;
    }
  });
}

