@charset "UTF-8";
/* InlineSVG Icons */
.icon {
  display: inline-block;
  vertical-align: text-bottom;
  fill: currentcolor;
  color: inherit;
  width: 1em;
  height: 1em;
}
.icon path {
  fill: inherit;
}
